
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <title>{% block title %}Site de la 300{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="/static/css/general.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css" />

        <!-- Display maths and markdown -->
        <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css">
        <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js"></script>

        <script type="text/javascript" src="/static/js/utils.js"></script>

        <script type="text/javascript" src="/static/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
        
        <link rel="icon" type="image/x-icon" href="/static/img/icon300.jpeg" />
    </head>
    <body>
            <div style="height: 60px;">
                <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
                    <a class="navbar-brand" href="/index">PipeML</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
        
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-button" href="/index">Home</a>
                                </li>
                            </ul>
        
                    </div>
                </nav>
            </div>

            <div id="body">
                {% block body %}{% endblock %}
            </div>
        
        
        
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" integrity="sha384-T2yuo9Oe71Cz/I4X9Ac5+gpEa5a8PpJCDlqKYO0CfAuEszu1JrXLl8YugMqYe3sM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" integrity="sha384-98GDGJ0kOMCUMUePhksaQ/GYgB3+NH9h996V88sh3aOiUNX3N+fLXAtry6xctSZ6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js" integrity="sha384-89bArO+nlbP3sgakeHjCo1JYxYR5wufVgA3IbUvDY+K7w4zyxJqssu7wVnfeKCq8" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.2.3.min.js" integrity="sha384-eT3dNscgjXmsGsM0ZO+nTwoL2BpJeNQnXH8gmXJmnEjqTb0ZV7c3jJ27FFe/oh1N" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
