{% extends "components/window.html" %}

{% block id %}newFolderWindow{% endblock id %}

{% block title %}
Create new folder
{% endblock title %}

{% block body %}
<div class="form-group">
    <label for="folderField">Folder name</label>
    <input class="form-control" id="folderField" placeholder="folder name">
</div>
{% endblock body %}

{% block footer %}
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary" onclick="createFolder();">Create folder</button>
{% endblock footer %}

{% block script %}
<script type="text/javascript">
    async function createFolder() {
        var folderField = document.getElementById("folderField");

        var resp = await call_api("/api/folder/new", {folder: current_folder() + "/" + folderField.value});
        var r = await resp.text();
        $("#newFolderWindow").modal("hide");
        update_explorer(current_folder());
    }
    
</script>
{% endblock script %}