
{% extends "components/component.html" %}

{% block component %}
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="collapse" data-target="#select_columns" aria-expanded="false" aria-control="select_columns">
        Columns
    </button>
    <div class="dropdown-menu" id="select_columns" style="min-width: 500px;box-shadow: grey 0px 0px 3px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="parameters_tab_button" data-toggle="tab" href="#parameters_tab" role="tab" aria-controls="home" aria-selected="true">Parameters</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile_tab_button" data-toggle="tab" href="#metrics_tab" role="tab" aria-controls="metrics_tab" aria-selected="false">Metrics</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show m-2 active" id="parameters_tab" role="tabpanel" aria-labelledby="parameters_tab">
                
                <div id="accordeon_params">
                    
                </div>
            </div>
            <div class="tab-pane fade m-2 " id="metrics_tab" role="tabpanel" aria-labelledby="metrics_tab">

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    update_parameters("accordeon_params");
    $("#parameters_tab_button").on("show.bs.tab", function(event) {
        update_parameters("accordeon_params");
    });

    $("#metrics_tab_button").on("show.bs.tab", function(event) {

    });

    function is_dict(v) {
        return typeof v==='object' && v!==null && !(v instanceof Array) && !(v instanceof Date);
    }
    function is_object(v) {
        for (var key in v) {
            if (key.substr(0, 4) == "obj:") {
                return true;
            }
        }
        return false;
    }

    async function update_parameters(id) {
        conf = await get_conf();
        $("#"+id).html("");
        function update_experiments_aux(id, conf, path="") {
            var params_id = [];
            var obj_id = [];
            var dict_id = [];

            for (var key in conf) {
                if (!is_dict(conf[key])) {
                    params_id.push(key);
                }
                else if (is_object(conf[key])) {
                    obj_id.push(key);
                }
                else {
                    dict_id.push(key);
                }
            }

            for (var key in params_id) {
                var key = params_id[key];
                var new_path = (path == "") ? key : path + "-" + key;
                var new_id = "par_" + new_path;
                add_item(new_id, id, key, true, false);
            }

            for (var key in obj_id) {
                var key = obj_id[key];
                var new_path = (path == "") ? key : path + "-" + key;
                var new_id = "par_" + new_path;
                add_item(new_id, id, key, false, true);
            }

            for (var key in dict_id) {
                var key = dict_id[key];
                var new_path = (path == "") ? key : path + "-" + key;
                var new_id = "par_" + new_path;
                add_item(new_id, id, key, false, false);
                update_experiments_aux(new_id, conf[key], new_path);
            }
        }
        
        update_experiments_aux(id, conf);
        
        $(".param_checkbox").on("change", function(event) {
            if (event.target.checked) {
                var trigger_event = new Event("param.add");
            }
            else {
                var trigger_event = new Event("param.remove");
            }
            trigger_event.param = event.target.id.substr(4).replace("-", ".");
            trigger_event.selected_params = get_selected_params();
            window.dispatchEvent(trigger_event);
        });
    }

    function get_selected_params() {
        var checkboxes = $(".param_checkbox");
        var selected_params = [];
        for (var i in checkboxes) {
            if (checkboxes[i].checked) {
                selected_params.push(checkboxes[i].id.substr(4).replace("-", "."));
            }
        }
        return selected_params;
    }

    async function get_conf() {
        var resp = await call_api("/api/folder/params", {folder: current_folder()});
        var resp = await resp.json();
        var conf = resp.conf;
        return conf
    }

    function add_item(id, parent, name, is_parameter, is_object) {
        if (is_parameter) {
            var html = `
                <div class="form-check form-switch">
                    <input class="form-check-input param_checkbox" type="checkbox" id="${id}">
                    <label class="form-check-label" for="${id}">${name}</label>
                </div>
            `;
        }
        else if (is_object)
        {
            var html = `<div class="card-header btn-link p-2 m-0" style="font-size: 1rem;cursor: pointer;" href="#collapse_${id}" data-toggle="collapse" data-parent="#accordeon_params">
                    <i>(obj) </i>${name}
                </div>

                <div class="collapse m-0" id="collapse_${id}">
                    <div class="card-body p-0" id="${id}" style="margin-left: 10px;">

                    </div>
                </div>`;
        }
        else {
            var html =`
                <div class="card-header btn-link p-2 m-0" style="font-size: 1rem;cursor: pointer;" href="#collapse_${id}" data-toggle="collapse" data-parent="#accordeon_params">
                    ${name}
                </div>

                <div class="collapse m-0" id="collapse_${id}">
                    <div class="card-body p-0" id="${id}" style="margin-left: 10px;">

                    </div>
                </div>
            `;
        }
        $("#"+parent).append(html);
    }
</script>
{% endblock %}
