{% extends "components/component.html" %}

{% block component %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newFolderWindow">
  New folder
</button>
{% include "components/windows/newFolderWindow.html" %}

<nav style="margin-top: 10px;" aria-label="breadcrumb">
    <ol id="explorer_path" class="breadcrumb">

    </ol>
</nav>

<div style="position: absolute;left:0px;top:60px;width:200px;margin-left: 10px; margin-top: 10px;">
    <p>Folders</p>
    <div id="explorer" class="list-group" >
    </div>
</div>

<div id="description">
</div>

<div id="experiments" class="list-group" style="margin-top: 10px">
</div>
{% endblock component %}

{% block script %}
<script type="text/javascript">

    function current_folder() {
        var route = window.location.pathname;
        var splitted_route = route.split("/");
        splitted_route.shift();
        splitted_route.shift();
        splitted_route = splitted_route.filter(e=>e!="");
        if (splitted_route.length > 0) {
            return "/" + splitted_route.join("/");
        }
        return "";
    }

    function get_explorer_path_html(folder) {
        var splitted_route = folder.split("/");
        var html = "";
        for (var i = splitted_route.length - 1; i >= 1 ; i-=1) {
            
            html_el = `<li class="breadcrumb-item"><a href="#" onclick="show_folder('`+splitted_route.join("/")+`', event);">`+splitted_route[i]+`</a></li>`; 
            splitted_route.pop();
            html = html_el + html; 
        }
        html = `<li class="breadcrumb-item active"><a href="#" onclick="show_folder('/', event);">root</a></li>` + html
        return html;
    }

    function get_explorer_item_html(folder, description) {
        return `<a href="#" onclick="show_folder(current_folder() + '/' + this.children[0].innerHTML, event);" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100">${folder}</div>
            <!-- <p class="mb-1" id="desc_${folder}">${description}</p> -->
            </a>`;
    }

    function get_exp_item_html(exp) {
        return `<a href="#" onclick="show_folder(current_folder() + '/' + this.children[0].children[0].innerHTML, event);" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">`+exp+`</div></a>`;
    }

    async function update_explorer(base="") {
        var explorer = $("#explorer");
        var path_el = $("#explorer_path");
        var resp = await call_api("/api/folder/list", {folder: base});
        var resp = await resp.json();
        var folders = resp.folders;
        var html = "";
        for (var i = 0; i < folders.length; i+=1) {
            html += get_explorer_item_html(folders[i]["name"], folders[i]["description"]);
        }
        explorer.html(html);
        path_el.html(get_explorer_path_html(current_folder()));
        const event = new Event("update_folders");
        event.folder = base;
        window.dispatchEvent(event);
    }

    async function show_folder(folder, event) {
        event.preventDefault();
        window.history.pushState(null, "", "/explorer"+folder);
        update_explorer(folder);
    }
    
    
    update_explorer(current_folder());
    window.onpopstate = function(e) {
        update_explorer(current_folder());
    }
</script>
{% endblock script %}